.projectsSect {
  display: block;
  width: 100%;
  /* height: 87vh; */
  overflow: auto;
  background-color: rgb(231, 231, 231);
}

.projectsNavigation {
  display: flex;
  justify-content: space-between;
  padding: 3vh 3vw;
  align-items: center;
  /* background-color: aquamarine; */
}

.projectsFilter {
  display: flex;
  width: 50%;
  height: 3vh;
  justify-content: space-around;
  /* background-color: blue; */
}

.projectsFilter a {
  cursor: pointer;
  color: #5353539c;
  list-style-type: none;
  text-decoration: none;
  padding: 0 1vw;
}

.projectsFilter a:hover {
  /* border-bottom: 2px solid #535353; */
  padding-bottom: 3.5vh;
  color: #535353;
  /* background-color: yellow; */
}

.projectsFilter a.active {
  border-bottom: 2px solid #535353;
  padding-bottom: 3.5vh;
  color: #535353;
}

.newTask {
  background-color: #242424;
  color: #fff;
  padding: 1.2vh 1.2vw;
  border: none;
  border-radius: 19px;
  cursor: pointer;
}
